<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
   
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/top15">Weekly Top 15</a></li>
                <li><a href="/top15today">Daily Top 15</a></li>
                <li><a href="/top15night">Nightly Top 15</a></li>
                <li><a href="/search">Search</a></li>
                <li><a class="active" href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
    <section class="about">
        <h2>About LB Player Time</h2>
        <p>A simple website that calculates players playing time on the Lasting Beasts Zombie Escape CS 1.6 server.</p>
        <div class="sso">
            <a target="_blank" href="https://discord.com/invite/lb1" class="btn">Join the Discord</a>
        </div>
        <div class="backo">
            
        </div>
    </section>
    </div>
    <footer>
        <p>&copy; 2024 CT Spawn</p>
    </footer>
</body>
</html>

