<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/top15">Weekly Top 15</a></li>
                <li><a href="/top15today">Daily Top 15</a></li>
                <li><a href="/top15night">Nightly Top 15</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
                <li><a class="active" href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
    <section class="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or inquiries, feel free to reach out to us:</p>
        <div class="sso">
            <p>Instagram: <a style="text-decoration: none; font-size: larger; color: rgb(0, 240, 80);" href="https://www.instagram.com/kira_xc/">جيرس</a></p>
        </div>
    <div class="backo">
            
    </div>
    </section>
    </div>
    <footer>
        <p>&copy; 2024 CT Spawn</p>
    </footer>
</body>
</html>

