<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
   
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/top15">Weekly Top 15</a></li>
                <li><a href="/top15today">Daily Top 15</a></li>
                <li><a href="/top15night">Nightly Top 15</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
    <section class="about">
        <h2>{{title}}</h2>
        <p>{{para}}</p>
        <center>
            <a href="/search" class="button-3" >Return to search</a>
        </center>
    </section>
    </div>
    <footer>
        <p>&copy; 2024 CT Spawn</p>
    </footer>
</body>
</html>

