<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LB Player Time</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/top15">Weekly Top 15</a></li>
                <li><a href="/top15today">Daily Top 15</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
    <section class="welcome">
        <h1>Welcome to  LB Player Time!</h1>
        <p>Prepare yourself for the ultimate challenge in the fight against the undead. Gather your team, sharpen your skills, and survive against waves of relentless zombies. </p>
        <div class="sso">
            <a target="_blank" href="https://www.gametracker.com/server_info/ze.lastingbeasts.net:27015/" class="btn">Join the Battle</a>
        </div>
        <div class="backo">
            
        </div>
    </section>
    </div>
    <footer>
        <p>&copy; 2024 CT Spawn</p>
    </footer>

</body>
</html>

