<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nightly Top 15</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/top15">Weekly Top 15</a></li>
                <li><a href="/top15today">Daily Top 15</a></li>
                <li><a class="active" href="/top15night">Nightly Top 15</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {%if remino != 7 %}
            <h2>Remaining days until Saturday : {{remino}}</h2>
        {% else %}
        <h2>Today the data will be reset at 17:00</h2>
        {% endif %}
    {% if rows != [] %}
    <section class="top-players">
        <h2>Top 15 Players at Night</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Playing Time</th>
                    <th>Last played time</th>
                </tr>
            </thead>
            <tbody>

                {% for row in rows %}
                <tr>
                    <td><a target="_blank" href="https://www.gametracker.com/player/{{row[0]}}/ze.lastingbeasts.net:27015/">{{row[0]}}</a></td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}
    <p style="color: red;">Warning <span style="color: greenyellow;">:</span> <span style="color: greenyellow;"> <span style="color: aqua;">Night data</span> is deleted every week at <span style="color: aqua;">17:00</span></span></p>
    <p style="color: greenyellow;">The data is reset on <span style="color: red;">Saturday <span style="color: aqua;">at</span> 17:00 </span>, That's why pay attention</p>
    </div>
    <footer>
        <p>&copy; 2024 CT Spawn</p>
    </footer>
</body>
</html>

