<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Top 15</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/top15">Weekly Top 15</a></li>
                <li><a class="active" href="/top15today">Daily Top 15</a></li>
                <li><a href="/top15night">Nightly Top 15</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
    <section class="top-players">
        <h2>Top 15 Players</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Today</th>
                    <th>Last played time</th>
                </tr>
            </thead>
            <tbody>

                {% for row in rows %}
                <tr>
                    <td><a target="_blank" href="https://www.gametracker.rs/player/135.125.128.254:27015/{{row[0]}}/">{{row[0]}}</a></td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    </div>
    <footer>
        <p>&copy; 2024 CT Spawn</p>
    </footer>
</body>
</html>

